body {
  margin: 0;
  background: #000;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}
.quadrato {
  width: 200px;
  height: 200px;
  background: red;
}
/* HOME */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

/* LOGO DI SFONDO */
.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  background: url('/logo-bg.png') center/contain no-repeat;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  filter: blur(1px);
}

/* CENTRO */
.center {
  text-align: center;
  margin-top: 120px;
  z-index: 2;
  position: relative;
}

.title {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* SCELTE */
.choices {
  display: flex;
  height: 200px;
  z-index: 2;
  position: relative;
}

.choice {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #222;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 20px;
  letter-spacing: 2px;
}

.choice:hover {
  background: white;
  color: black;
}

.choice span {
  transition: transform 0.3s ease;
}

.choice:hover span {
  transform: scale(1.08);
}

/* OVERLAY GRAIN */
.home::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
}
